<h2>Login form</h2>
<form action="/?app=login" method="POST">
    E-Mail: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Login"><br>
    <font color="red">{LOGIN_ERROR}</font>
</form>
<hr>
<h2>Register form</h2>
<form action="/?app=register" method="POST">
    First name: <input type="text" name="firstName"><br>
    Last name: <input type="text" name="lastName"><br>
    E-Mail: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Register"><br>
    <font color="red">{REGISTER_ERROR}</font>
</form>